<div data-template-name="field">
	<div class="field required">
		<label data-template-name="name-label">{{ctx.Locale.Tr "snippet.edit.file_name"}}</label>
		<input {{if .name}}value="{{.name}}"{{end}} data-template-name="name-input" pattern="^[^\/\\]*$" title="{{ctx.Locale.Tr "snippet.edit.file_name_title"}}" required></input>
		<div class="ui negative message flash-message flash-error tw-hidden" data-template-name="duplicate-error">
			<p>{{ctx.Locale.Tr "snippet.edit.duplicate_name_error"}}</p>
		</div>
	</div>
	<div class="field required">
		<label data-template-name="content-label">{{ctx.Locale.Tr "snippet.edit.file_content"}}</label>
		<textarea class="tw-hidden" data-template-name="content-input">{{if .content}}{{.content}}{{end}}</textarea>
		{{template "shared/codemirror_container" .}}
	</div>
	<div class="tw-text-right">
		<button type="button" class="ui primary button red tw-hidden" data-template-name="delete-button">{{ctx.Locale.Tr "remove"}}</button>
	</div>
</div>
