{{/* Attributes:
* root
* ContainerClasses
* (TODO: search "branch_dropdown" in the template directory)
*/}}
{{$defaultSelectedRefName := $.root.BranchName}}
{{if and .root.IsViewTag (not .noTag)}}
       {{$defaultSelectedRefName = .root.TagName}}
{{end}}
{{if eq $defaultSelectedRefName ""}}
       {{$defaultSelectedRefName = $.root.Repository.DefaultBranch}}
{{end}}

{{$type := ""}}
{{if and .root.IsViewTag (not .noTag)}}
       {{$type = "tag"}}
{{else if .root.IsViewBranch}}
       {{$type = "branch"}}
{{else}}
       {{$type = "tree"}}
{{end}}

{{$showBranchesInDropdown := not .root.HideBranchesInDropdown}}

{{/* mode */}}
{{- $mode := "branches" -}}
{{- if or .root.IsViewTag .isTag -}}
  {{- $mode = "tags" -}}
{{- end -}}

{{/* search placeholder */}}
{{- $placeholder := "" -}}
{{- if $.noTag -}}
  {{- $placeholder = (ctx.Locale.Tr "repo.pulls.filter_branch") -}}
{{- else if $showBranchesInDropdown -}}
  {{- $placeholder = (ctx.Locale.Tr "repo.filter_branch_and_tag") -}}
{{- else -}}
  {{- $placeholder = (ctx.Locale.Tr "repo.find_tag") -}}
{{- end -}}
{{- $placeholder = printf "%s..." $placeholder -}}

{{/* disableCreateBranch */}}
{{- $disableCreateBranch := false -}}
{{- if .disableCreateBranch -}}
  {{- $disableCreateBranch = .disableCreateBranch -}}
{{- else if not .root.CanCreateBranch -}}
  {{- $disableCreateBranch = true -}}
{{- end -}}

{{/* refName */}}
{{- $refName := "" -}}
{{- if and .root.IsViewTag (not .noTag) -}}
  {{- $refName = .root.TagName -}}
{{- else if .root.IsViewBranch -}}
  {{- $refName = .root.BranchName -}}
{{- else -}}
  {{- $refName = (ShortSha .root.CommitID) -}}
{{- end -}}

{{- $viewPrefix := "src" -}}
{{- if $.root.PageIsCommits -}}
  {{- $viewPrefix = "commits" -}}
{{- end -}}

{{- $branchURLPrefix := .branchURLPrefix -}}
{{- if not $branchURLPrefix -}}
  {{- $branchURLPrefix = printf "%s/%s/branch/" $.root.RepoLink $viewPrefix -}}
{{- end -}}

{{- $branchURLSuffix := .branchURLSuffix -}}
{{- if not $branchURLSuffix -}}
  {{- if $.root.TreePath -}}
    {{- $branchURLSuffix = printf "/%s" (PathEscapeSegments $.root.TreePath) -}}
  {{- else -}}
    {{- $branchURLSuffix = "" -}}
  {{- end -}}
{{- end -}}

{{- $tagURLPrefix := .tagURLPrefix -}}
{{- if not $tagURLPrefix -}}
  {{- if .release -}}
    {{- $tagURLPrefix = printf "%s/compare/" $.root.RepoLink -}}
  {{- else -}}
    {{- $tagURLPrefix = printf "%s/%s/tag/" $.root.RepoLink $viewPrefix -}}
  {{- end -}}
{{- end -}}

{{- $tagURLSuffix := .tagURLSuffix -}}
{{- if not $tagURLSuffix -}}
  {{- if .release -}}
    {{- if .release.IsDraft -}}
      {{- $tagURLSuffix = printf "...%s" (PathEscapeSegments .release.Target) -}}
    {{- else if .release.TagName -}}
      {{- $tagURLSuffix = printf "...%s" (PathEscapeSegments .release.TagName) -}}
    {{- else -}}
      {{- $tagURLSuffix = printf "...%s" (PathEscapeSegments .release.Sha1) -}}
    {{- end -}}
  {{- else if $.root.TreePath -}}
    {{- $tagURLSuffix = printf "/%s" (PathEscapeSegments $.root.TreePath) -}}
  {{- else -}}
    {{- $tagURLSuffix = "" -}}
  {{- end -}}
{{- end -}}

{{- $tagName := "" -}}
{{- if .root -}}
  {{- $tagName = .root.TagName -}}
{{- end -}}

{{- $branchName := "" -}}
{{- if .root -}}
  {{- $branchName = .root.branchName -}}
{{- end -}}

{{- $repoLink := "" -}}
{{- if .root -}}
  {{- $repoLink = .root.repoLink -}}
{{- end -}}

{{- $treePath := "" -}}
{{- if .root -}}
  {{- $treePath = .root.treePath -}}
{{- end -}}

{{- $branchNameSubURL := "" -}}
{{- if .root -}}
  {{- $branchNameSubURL = .root.branchNameSubURL -}}
{{- end -}}

{{- $data := dict
  "textReleaseCompare" (ctx.Locale.TrString "repo.release.compare")
  "textCreateTag" (ctx.Locale.TrString "repo.tag.create_tag")
  "textCreateBranch" (ctx.Locale.TrString "repo.branch.create_branch")
  "textCreateBranchFrom" (ctx.Locale.TrString "repo.branch.create_from")
  "textBranches" (ctx.Locale.TrString "repo.branches")
  "textTags" (ctx.Locale.TrString "repo.tags")
  "textDefaultBranchLabel" (ctx.Locale.TrString "repo.default_branch_label")

  "mode" $mode
  "showBranchesInDropdown" $showBranchesInDropdown
  "searchFieldPlaceholder" $placeholder

  "branchForm" $.branchForm
  "disableCreateBranch" $disableCreateBranch
  "setAction" .setAction
  "submitForm" .submitForm
  "viewType" $type

  "refName" $refName
  "commitIdShort" (ShortSha .root.CommitID)
  "tagName" $tagName
  "branchName" $branchName
  "noTag" .noTag

  "defaultSelectedRefName" $defaultSelectedRefName
  "repoDefaultBranch" .root.Repository.DefaultBranch
  "enableFeed" .root.EnableFeed

  "rssURLPrefix" (printf "%s/rss/branch/" $.root.RepoLink)

  "branchURLPrefix" $branchURLPrefix
  "branchURLSuffix" $branchURLSuffix
  "tagURLPrefix" $tagURLPrefix
  "tagURLSuffix" $tagURLSuffix

  "repoLink" $repoLink
  "treePath" $treePath
  "branchNameSubURL" $branchNameSubURL

  "noResults" (ctx.Locale.Tr "repo.pulls.no_results")
}}

{{- $release := "" -}}
{{- if .release -}}
  {{- $release = toJSON (dict "tagName" .release.TagName) -}}
{{- end -}}

<div id="branch-dropdown-data"
     data-branch-dropdown="{{toJSON $data}}">
</div>

<script src="{{AssetUrlPrefix}}/js/branchdropdown.js" type="module"></script>

<div class="js-branch-tag-selector {{if .ContainerClasses}}{{.ContainerClasses}}{{end}}">
	{{/* show dummy elements before Vue componment is mounted, this code must match the code in BranchTagSelector.vue */}}
	<div class="ui dropdown custom">
		<button class="branch-dropdown-button gt-ellipsis ui basic small compact button tw-flex tw-m-0">
			<span class="text tw-flex tw-items-center tw-mr-1 gt-ellipsis">
				{{if .release}}
					{{ctx.Locale.Tr "repo.release.compare"}}
				{{else}}
					{{if eq $type "tag"}}
						{{svg "octicon-tag"}}
					{{else if eq $type "branch"}}
						{{svg "octicon-git-branch"}}
					{{else}}
						{{svg "octicon-git-commit"}}
					{{end}}
					<strong ref="dropdownRefName" class="tw-ml-2 tw-inline-block gt-ellipsis">{{if and .root.IsViewTag (not .noTag)}}{{.root.TagName}}{{else if .root.IsViewBranch}}{{.root.BranchName}}{{else}}{{ShortSha .root.CommitID}}{{end}}</strong>
				{{end}}
			</span>
			{{svg "octicon-triangle-down" 14 "dropdown icon"}}
		</button>
	</div>
</div>
