{{template "base/head" .}}
<div class="page-content repository diff">
	{{template "repo/header" .}}
	<main id="main" aria-label="{{.Title}}" class="ui container fluid padded">
		{{template "repo/commit_header" .}}
		{{template "repo/diff/box" .}}
	</main>
</div>
{{template "base/footer" .}}
