{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository commits">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "repo/sub_menu" .}}
		<div class="repo-button-row">
			<div class="tw-flex tw-items-center">
				{{template "repo/branch_dropdown" dict "root" . "ContainerClasses" "tw-mr-1"}}
				<a href="{{.RepoLink}}/graph" class="ui basic small compact button">
					{{svg "octicon-git-branch"}}
					{{ctx.Locale.Tr "repo.commit_graph"}}
				</a>
				{{$n := len .TreeNames}}
				{{$l := Eval $n "-" 1}}
				{{$isFileHistory := (gt $n 0)}}
				{{if $isFileHistory}}
					<span class="breadcrumb repo-path tw-ml-1">
						<a class="section" href="{{$.BranchLink}}" title="{{.Repository.Name}}">{{StringUtils.EllipsisString .Repository.Name 30}}</a>
						{{- range $i, $v := .TreeNames -}}
							<span class="breadcrumb-divider">/</span>
							{{- if eq $i $l -}}
								<span class="active section" title="{{$v}}">{{$v}}</span>
								<button class="btn interact-fg tw-p-2" data-clipboard-text="{{$.TreePath}}" data-tooltip-content="{{ctx.Locale.Tr "copy_path"}}">{{svg "octicon-copy" 14}}</button>
							{{- else -}}
								{{$p := index $.Paths $i}}<span class="section"><a href="{{$.BranchLink}}/{{PathEscapeSegments $p}}" title="{{$v}}">{{$v}}</a></span>
							{{- end -}}
						{{- end -}}
					</span>
				{{end}}
			</div>
		</div>
		{{template "repo/commits_table" .}}
	</div>
</div>
{{template "base/footer" .}}
