{{if .LatestRelease}}
<div class="flex-item">
	<div class="flex-item-main">
		<div class="flex-item-title">
			<a class="item muted" href="{{.RepoLink}}/releases">
				{{ctx.Locale.Tr "repo.releases"}}
				{{if .NumReleases}}
					<span class="ui small label">{{CountFmt .NumReleases}}</span>
				{{end}}
			</a>
		</div>
		<div class="flex-item tw-pb-2">
			<div class="flex-item-icon">
				{{svg "octicon-tag"}}
			</div>
			<div class="flex-item-main">
				<div class="flex-item-header">
						<div class="flex-item-title tw-gap-2">
							<a class="gt-ellipsis muted" href="{{.RepoLink}}/releases/tag/{{.LatestRelease.TagName}}" title="{{.LatestRelease.TagName}}">{{.LatestRelease.TagName}}</a>
							<span class="ui green label">{{ctx.Locale.Tr "repo.release.stable"}}</span>
						</div>
				</div>
				<div class="flex-item-body">
					<span class="text right age three wide">{{DateUtils.TimeSince .LatestRelease.CreatedUnix}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}

{{if and (not .IsEmptyRepo) .LanguageStats}}
<div class="flex-item">
	<div class="flex-item-main">
		<div class="flex-item-title">
			{{ctx.Locale.Tr "repo.home.languages"}}
		</div>
		<div class="flex-item tw-flex-col stats">
			<stats-bar class="bar tw-w-full tw-rounded-full">
				{{range .LanguageStats}}
					<div class="slice" style="width: {{.Percentage}}%; background-color: {{.Color}}" data-tooltip-placement="top" data-tooltip-content={{.Language}} data-tooltip-follow-cursor="horizontal"></div>
				{{end}}
			</stats-bar>
			<ul class="tw-p-0 tw-m-0 tw-flex-wrap tw-flex tw-gap-x-3 tw-gap-y-1">
				{{range .LanguageStats}}
					<div class="item tw-flex tw-gap-1 tw-items-center">
						<i class="color-icon" style="background-color: {{.Color}}"></i>
						<span class="tw-font-semibold">
							{{if eq .Language "other"}}
								{{ctx.Locale.Tr "repo.language_other"}}
							{{else}}
								{{.Language}}
							{{end}}
						</span>
						{{.Percentage}}%
					</div>
				{{end}}
			</ul>
		</div>
	</div>
</div>
{{end}}
