{{if $.IsSigned}}
	<div class="ui labeled button" id="watch-button">
		<details class="dropdown">
			<summary class="small secondary button">
				{{svg "octicon-eye" 16}}
				<span class="text not-mobile">{{if $.RepoWatchSelection.IsWatching}}{{ctx.Locale.Tr "repo.watching"}}{{else}}{{ctx.Locale.Tr "repo.watch"}}{{end}}</span>
				{{svg "octicon-triangle-down" 14}}
			</summary>
			<form class="content tw-p-3" hx-boost="true" hx-target="#watch-button" method="post" action="{{$.RepoLink}}/action/watch/select" hx-swap="outerHTML">
				<ul class="tw-text-left">
					<li>
						<div class="ui form">
							<div class="field">
								<div class="ui checkbox">
									<input id="watch-issues" type="checkbox" name="watch_issues" value="true" {{if $.RepoWatchSelection.Issues}}checked{{end}}>
									<label for="watch-issues">{{svg "octicon-issue-opened"}} {{ctx.Locale.Tr "repo.watch.issues"}}</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input id="watch-pull-requests" type="checkbox" name="watch_pull_requests" value="true" {{if $.RepoWatchSelection.PullRequests}}checked{{end}}>
									<label for="watch-pull-requests">{{svg "octicon-git-pull-request"}} {{ctx.Locale.Tr "repo.watch.pull_requests"}}</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input id="watch-releases" type="checkbox" name="watch_releases" value="true" {{if $.RepoWatchSelection.Releases}}checked{{end}}>
									<label for="watch-releases">{{svg "octicon-tag"}} {{ctx.Locale.Tr "repo.watch.releases"}}</label>
								</div>
							</div>
							<div class="tw-flex tw-justify-between tw-items-center tw-mt-3 tw-gap-4">
								<button type="submit" class="ui primary tiny button">{{ctx.Locale.Tr "save"}}</button>
								{{if $.RepoWatchSelection.IsWatching}}
								<button type="button" class="ui tiny button" hx-post="{{$.RepoLink}}/action/unwatch" hx-target="#watch-button" hx-swap="outerHTML">
									{{ctx.Locale.Tr "repo.unwatch"}}
								</button>
								{{end}}
							</div>
						</div>
					</li>
				</ul>
			</form>
		</details>
		<a hx-boost="false" class="ui basic label" href="{{.RepoLink}}/watchers"
			aria-label="{{ctx.Locale.TrPluralString .Repository.NumWatches "watch.n_watchers" (printf "%d" .Repository.NumWatches)}}"
			>
			{{CountFmt .Repository.NumWatches}}
		</a>
	</div>
{{else}}
{{/* not logged-in user */}}
	<div class="ui labeled button" data-tooltip-content="{{ctx.Locale.Tr "repo.watch_guest_user"}}">
		<div class="ui compact small basic button">
			{{svg "octicon-eye"}}<span class="text not-mobile">{{ctx.Locale.Tr "repo.watch"}}</span>
		</div>
		<a hx-boost="false" class="ui basic label" href="{{.RepoLink}}/watchers"
			aria-label="{{ctx.Locale.TrPluralString .Repository.NumWatches "watch.n_watchers" (printf "%d" .Repository.NumWatches)}}"
			>
			{{CountFmt .Repository.NumWatches}}
		</a>
	</div>
{{end}}
