<section class="home-section">
	{{if .Title}}<h2 class="home-section-title">{{.Title}}</h2>{{end}}
	<div class="home-stats">
		{{range .Stats}}
			<div class="home-stat">
				{{svg .Icon 22 "home-stat-icon"}}
				<span class="home-stat-label">{{ctx.Locale.TrPluralString .Value .Label (printf `<span class="home-stat-value">%s</span>` (CountFmt .Value) | TrustHTML)}}</span>
			</div>
		{{end}}
	</div>
</section>
