.keyboard-selected {
  background-color: var(--color-hover);
  box-shadow: inset 2px 0 0 var(--color-primary);
}

#shortcuts[open],
#line-jump[open] {
  display: block;
}

#shortcuts ul {
  border: 2px solid var(--color-primary-contrast);
  grid-area: 1 / 1;
  padding: 0 !important;
  padding: 1rem;
  width: 100%;
}

#shortcuts header,
#line-jump header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#shortcuts li {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

#shortcuts li:not(:last-child) {
  border-bottom: 2px solid var(--color-secondary);
}
