:root .stats-bar {
  --stats-bar-height: 0.75rem;
}

@media (pointer: coarse) {
  :root .stats-bar {
    --stats-bar-height: 1rem;
  }
}

.stats-bar summary {
  display: flex;
  height: var(--stats-bar-height);
  width: 100%;
}

.stats-bar summary .bar {
  display: inline-block;
}

.size-overview .stats-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.size-overview .stats-bar[open] {
  gap: 1rem;
  background: var(--color-active);
  border-radius: var(--border-radius);
}

.size-overview .stats-bar summary {
  background-color: var(--color-input-background);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.size-overview .stats-bar ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0.5rem;
}

.size-overview .stats-bar ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.repository .repository-summary #language-stats-bar {
  display: flex;
  gap: 2px;
  padding: 0;
  height: var(--stats-bar-height);
  white-space: nowrap;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  overflow: hidden;
}
