{{template "base/head" .}}
<div class="page-content repository actions">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}

		{{/* Refresh the list every interval (30s) unless the document isn't visible or a dropdown is open; refresh
		if visibility changes as well. simulate-polling-interval is a custom event used for e2e tests to mimic
		the polling interval and should be defined identically to the `every` clause for accurate testing. */}}
		<div id="repo-actions-list"
			hx-get="?workflow={{$.CurWorkflow}}&actor={{$.CurActor}}&status={{$.CurStatus}}&page={{$.Page.Paginater.Current}}&list_inner=true"
			hx-swap="morph:innerHTML"
			hx-trigger="poll-now"
			hx-indicator="#reloading-indicator">
			{{template "repo/actions/list_inner" .}}
		</div>
	</div>
</div>

<script src="{{AssetUrlPrefix}}/js/list.js"></script>

{{template "base/footer" .}}
