{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content user activate">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form ignore-dirty tw-max-w-2xl tw-m-auto" action="{{AppSubUrl}}/user/activate" method="post">
				<h2 class="ui top attached header">
					{{ctx.Locale.Tr "auth.active_your_account"}}
				</h2>
				<div class="ui attached segment">
					{{template "base/alert" .}}
					{{if .IsActivatePage}}
						{{if .ServiceNotEnabled}}
							<p class="center">{{ctx.Locale.Tr "auth.disable_register_mail"}}</p>
						{{else if .ResendLimited}}
							<p class="center">{{ctx.Locale.Tr "auth.resent_limit_prompt"}}</p>
						{{else}}
							{{template "user/auth/activate_email" (dict "Email" .SignedUser.Email "ActiveCodeLives" .ActiveCodeLives)}}
						{{end}}
					{{else}}
						{{if .NeedsPassword}}
							<div class="required field">
								<label for="password">{{ctx.Locale.Tr "password"}}</label>
								<input id="password" name="password" type="password" autocomplete="off" required>
							</div>
							<div class="inline field">
								<button class="ui primary button">{{ctx.Locale.Tr "install.confirm_password"}}</button>
							</div>
							<input id="code" name="code" type="hidden" value="{{.Code}}">
						{{else if .IsSendRegisterMail}}
							{{template "user/auth/activate_email" (dict "Email" .Email "ActiveCodeLives" .ActiveCodeLives)}}
						{{else if .IsCodeInvalid}}
							<p>{{ctx.Locale.Tr "auth.invalid_code"}}</p>
						{{else if .IsPasswordInvalid}}
							<p>{{ctx.Locale.Tr "auth.invalid_password"}}</p>
						{{else if .ManualActivationOnly}}
							<p class="center">{{ctx.Locale.Tr "auth.manual_activation_only"}}</p>
						{{else}}
							<p>{{ctx.Locale.Tr "auth.confirmation.not_activated" .SignedUser.Email}}</p>
							<button class="ui primary button">{{ctx.Locale.Tr "auth.confirmation.resend_mail"}}</button>
							<div class="divider"></div>
							<label for="email">{{ctx.Locale.Tr "auth.confirmation.change_email_label"}}</label>
							<input class="inline field" id="email" name="email" type="email" autocomplete="on">
							<p class="help">{{ctx.Locale.Tr "auth.confirmation.change_email_help"}}</p><br>
							<button class="ui primary button" name="change_mail" value="true">{{ctx.Locale.Tr "auth.confirmation.change_email"}}</button>
						{{end}}
					{{end}}
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
