{{template "base/head" .}}
<div class="page-content user signin{{if .LinkAccountMode}} icon{{end}}">
	<main id="main" aria-label="{{.Title}}" class="ui container">
		{{template "user/auth/change_passwd_inner" .}}
	</main>
</div>
{{template "base/footer" .}}
