{{template "base/head" .}}
<div class="page-content repository projects milestones">
	{{template "repo/header" .}}
	<main id="main" aria-label="{{.Title}}" class="ui container">
		{{template "projects/list" .}}
	</main>
</div>
{{template "base/footer" .}}
