{{template "base/head" .}}
<div class="page-content repository projects edit-project new milestone">
{{template "repo/header" .}}
<main id="main" aria-label="{{.Title}}">
	<div class="ui container">
	{{template "projects/new" .}}
	</div>
</main>
</div>
{{template "base/footer" .}}
