{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings blocked-users")}}
<div class="user-setting-content">
	<h3 class="floating">
		{{ctx.Locale.Tr "settings.blocked_users"}}
	</h3>
	<div class="ui segment">
		{{template "shared/blocked_users_list" .}}
	</div>
</div>
{{template "user/settings/layout_footer" .}}
