{{if false}}{{/* to make html structure "likely" complete to prevent IDE warnings */}}
<div class="page-content">
	<main class="ui container">
		<div>
		{{/* block: user-setting-content */}}
{{end}}

		</div>
	</main>
</div>
{{template "base/footer" .}}
