{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin monitor")}}
<div class="admin-setting-content">
	<h3 class="floating">
		{{ctx.Locale.Tr "admin.dashboard.statistic"}}
	</h3>
	<div class="ui table segment">
		<table class="ui very basic striped table unstackable">
			{{range $statsKey, $statsValue := .Stats}}
			<tr>
				<td width="200">{{$statsKey}}</td>
				<td>{{$statsValue}}</td>
			</tr>
			{{end}}
		</table>
	</div>
</div>
{{template "admin/layout_footer" .}}
