{{if eq .PackageDescriptor.Package.Type "ansible"}}
	<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{ctx.Locale.Tr "packages.ansible.install"}}</label>
				<div class="markup"><pre class="code-block"><code>ansible-galaxy collection install -s <origin-url data-url="{{AppSubUrl}}/api/packages/{{$.PackageDescriptor.Owner.Name}}/ansible"></origin-url> {{$.PackageDescriptor.Package.Name}}:=={{$.PackageDescriptor.Version.Version}}</code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{ctx.Locale.Tr "packages.ansible.requirement"}}</label>
				<div class="markup"><pre class="code-block"><code>- name: '{{$.PackageDescriptor.Package.Name}}'
	version: '{{$.PackageDescriptor.Version.Version}}'
	source: '<origin-url data-url="{{AppSubUrl}}/api/packages/{{$.PackageDescriptor.Owner.Name}}/ansible"></origin-url>'</code></pre></div>
			</div>
			<div class="field">
				<label>{{ctx.Locale.Tr "packages.registry.documentation" "Ansible" "https://forgejo.org/docs/latest/user/packages/ansible/"}}</label>
			</div>
		</div>
	</div>
{{end}}
