{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content edu assignments">
	<div class="ui container">
		<div class="ui secondary menu">
			<div class="header item">
				<h1 class="ui header" style="margin:0">{{.Title}}</h1>
			</div>
			<div class="right menu">
				<a class="ui green button" href="{{AppSubUrl}}/edu/assignments/new">
					{{.locale.Tr "New Assignment"}}
				</a>
			</div>
		</div>

		<div class="ui attached segment">
			{{if .Assignments}}
				<div class="ui relaxed divided list">
					{{range .Assignments}}
						<div class="item">
							<div class="content">
								<a class="header" href="{{AppSubUrl}}/edu/assignments/{{.ID}}">{{.Title}}</a>
								<div class="description">{{.Description | SafeHTML}}</div>
								<div class="extra">
									{{if .DeadlineUnix}}
										<span class="ui label tiny">Deadline: {{.Deadline}}</span>
									{{end}}
								</div>
							</div>
						</div>
					{{end}}
				</div>
			{{else}}
				<div class="ui message">
					<p>{{.locale.Tr "edu.no_assignments"}}</p>
				</div>
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
