<dialog id="shortcuts">
	<header>
		<span>Keyboard shortcuts</span>
		<form method="dialog">
			<button type="submit" class="ui compact icon button" aria-label="Close">{{svg "octicon-x" 16}}</button>
		</form>
	</header>
	<article class="content">
		<table>
			<thead>
				<tr>
					<th>
						<h3>Site-wide shortcuts</h3>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Move selection down</td>
					<td><kbd>j</kbd></td>
				</tr>
				<tr>
					<td>Move selection up</td>
					<td><kbd>k</kbd></td>
				</tr>
				<tr>
					<td>Go to Dashboard (home)</td>
					<td><kbd>g</kbd> <kbd>d</kbd></td>
				</tr>
				<tr>
					<td>Go to notifications</td>
					<td><kbd>g</kbd> <kbd>n</kbd></td>
				</tr>
				<tr>
					<td>Focus on searchbar</td>
					<td><kbd>/</kbd></td>
				</tr>
				<tr>
					<td>Show keyboard shortcuts dialog</td>
					<td><kbd>Shift</kbd> + <kbd>?</kbd></td>
				</tr>
				<tr>
					<td>Close this dialog</td>
					<td><kbd>Escape</kbd></td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th>
						<h3>Repositories</h3>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Create issue/pull request/release</td>
					<td><kbd>c</kbd>
				</tr>
				<tr>
					<td>Go to actions</td>
					<td><kbd>g</kbd> <kbd>a</kbd></td>
				</tr>
				<tr>
					<td>Go to code</td>
					<td><kbd>g</kbd> <kbd>c</kbd></td>
				</tr>
				<tr>
					<td>Go to issues</td>
					<td><kbd>g</kbd> <kbd>i</kbd></td>
				</tr>
				<tr>
					<td>Go to projects</td>
					<td><kbd>g</kbd> <kbd>o</kbd></td>
				</tr>
				<tr>
					<td>Go to pull requests</td>
					<td><kbd>g</kbd> <kbd>p</kbd></td>
				</tr>
				<tr>
					<td>Go to releases</td>
					<td><kbd>g</kbd> <kbd>r</kbd></td>
				</tr>
				<tr>
					<td>Go to wiki</td>
					<td><kbd>g</kbd> <kbd>w</kbd></td>
				</tr>
				<tr>
					<td>Switch branch/tag</td>
					<td><kbd>w</kbd></td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th>
						<h3>Code View</h3>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>View blame</td>
					<td><kbd>b</kbd></td>
				</tr>
				<tr>
					<td>Go to history</td>
					<td><kbd>h</kbd></td>
				</tr>
				<tr>
					<td>View raw</td>
					<td><kbd>r</kbd></td>
				</tr>
				<tr>
					<td>Get permalink</td>
					<td><kbd>y</kbd></td>
				</tr>
			</tbody>
		</table>
	</article>
</dialog>
