{{if false}}{{/* to make html structure "likely" complete to prevent IDE warnings */}}
<div class="page-content">
	<main id="main">
		<div class="flex-container-main">
		{{/* block: repo-setting-content */}}
{{end}}

		</div>
	</main>
</div>
{{template "base/footer" .}}
