{{template "base/head" .ctxData}}
<div class="page-content {{.pageClass}}">
{{template "repo/header" .ctxData}}
<main id="main" aria-label="{{.ctxData.Title}}">
	<div class="ui container flex-container">
		{{template "repo/settings/navbar" .ctxData}}
		<div class="flex-container-main">
			{{template "base/alert" .ctxData}}
			{{/* block: repo-setting-content */}}

{{if false}}{{/* to make html structure "likely" complete to prevent IDE warnings */}}
		</div>
	</div>
</main>
</div>
{{end}}
