<div class="secondary-nav tw-border-b tw-border-b-secondary">
	<div class="ui container">
		<div class="stackable f-menu">
			<ul class="group">
				<li>
					<details class="dropdown">
						<summary>
							{{ctx.AvatarUtils.Avatar .ContextUser}}
							<span>{{.ContextUser.ShortName 40}}</span>
							<span class="org-visibility">
								{{if .ContextUser.Visibility.IsLimited}}<div class="ui horizontal label">{{ctx.Locale.Tr "org.settings.visibility.limited_shortname"}}</div>{{end}}
								{{if .ContextUser.Visibility.IsPrivate}}<div class="ui horizontal label">{{ctx.Locale.Tr "org.settings.visibility.private_shortname"}}</div>{{end}}
							</span>
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						</summary>
						<div class="content">
							<span class="header">
								{{ctx.Locale.Tr "home.switch_dashboard_context"}}
							</span>
							<hr>
							<ul>
								<li>
									<a class="{{if eq .ContextUser.ID .SignedUser.ID}}active selected{{end}} item"
										href="{{AppSubUrl}}/{{if .PageIsIssues}}issues{{else if .PageIsPulls}}pulls{{else if .PageIsMilestonesDashboard}}milestones{{end}}">
										{{ctx.AvatarUtils.Avatar .SignedUser}}
										<span>{{.SignedUser.ShortName 40}}</span>
										<span class="org-visibility">
											{{if .SignedUser.Visibility.IsLimited}}
												<div class="ui horizontal label">{{ctx.Locale.Tr "org.settings.visibility.limited_shortname"}}</div>
											{{end}}
											{{if .SignedUser.Visibility.IsPrivate}}
												<div class="ui horizontal label">{{ctx.Locale.Tr "org.settings.visibility.private_shortname"}}</div>
											{{end}}
										</span>
									</a>
								</li>
								{{range .Orgs}}
								<li>
									<a class="{{if eq $.ContextUser.ID .ID}}active selected{{end}} item"
										title="{{.Name}}"
										href="{{.OrganisationLink}}/{{if $.PageIsIssues}}issues{{else if $.PageIsPulls}}pulls{{else if $.PageIsMilestonesDashboard}}milestones{{else}}dashboard{{end}}">
										{{ctx.AvatarUtils.Avatar .}}
										<span>{{.ShortName 40}}</span>
										<span class="org-visibility">
											{{if .Visibility.IsLimited}}
												<div class="ui horizontal label">{{ctx.Locale.Tr "org.settings.visibility.limited_shortname"}}</div>
											{{end}}
											{{if .Visibility.IsPrivate}}
												<div class="ui horizontal label">{{ctx.Locale.Tr "org.settings.visibility.private_shortname"}}</div>
											{{end}}
										</span>
									</a>
								</li>
								{{end}}
							</ul>
						</div>
					</details>
				</li>
				{{if .ContextUser.IsOrganization}}
					<li>
						<details class="dropdown">
							<summary>
								<span>
									{{svg "octicon-people" 18}}
									{{if .Team}}
										{{.Team.Name}}
									{{else}}
										{{ctx.Locale.Tr "org.teams"}}
									{{end}}
								</span>
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
							</summary>
							<div class="content">
								<span class="header">
									{{ctx.Locale.Tr "home.filter_by_team_repositories"}}
								</span>
								<hr>
								<ul>
									<li>
										<a class="{{if not $.Team}}active selected{{end}} item"
										title="{{ctx.Locale.Tr "all"}}"
										href="{{$.Org.OrganisationLink}}/{{if $.PageIsIssues}}issues{{else if $.PageIsPulls}}pulls{{else if $.PageIsMilestonesDashboard}}milestones{{else}}dashboard{{end}}">
											{{ctx.Locale.Tr "all"}}
										</a>
									</li>
									{{range .Teams}}
										{{if not .IncludesAllRepositories}}
										<li>
											<a class="{{if $.Team}}{{if eq $.Team.ID .ID}}active selected{{end}}{{end}} item"
											title="{{.Name}}"
											href="{{$.Org.OrganisationLink}}/{{if $.PageIsIssues}}issues{{else if $.PageIsPulls}}pulls{{else if $.PageIsMilestonesDashboard}}milestones{{else}}dashboard{{end}}/{{.Name}}">
												{{.Name}}
											</a>
										</li>
										{{end}}
									{{end}}
								</ul>
							</div>
						</details>
					</li>
				{{end}}
			</ul>
		{{if .ContextUser.IsOrganization}}
			<ul class="group right">
				<li>
					<a class="{{if .PageIsNews}}active {{end}}item tw-ml-auto" href="{{.ContextUser.DashboardLink}}{{if .Team}}/{{PathEscape .Team.Name}}{{end}}">
						<span class="menu-item-text">
							{{svg "octicon-rss"}}&nbsp;{{ctx.Locale.Tr "activities"}}
						</span>
					</a>
				</li>
				{{if not .UnitIssuesGlobalDisabled}}
				<li>
					<a class="{{if .PageIsIssues}}active {{end}}item" href="{{.ContextUser.OrganisationLink}}/issues{{if .Team}}/{{PathEscape .Team.Name}}{{end}}">
						<span class="menu-item-text">
							{{svg "octicon-issue-opened"}}&nbsp;{{ctx.Locale.Tr "issues"}}
						</span>
					</a>
				</li>
				{{end}}
				{{if not .UnitPullsGlobalDisabled}}
				<li>
					<a class="{{if .PageIsPulls}}active {{end}}item" href="{{.ContextUser.OrganisationLink}}/pulls{{if .Team}}/{{PathEscape .Team.Name}}{{end}}">
						<span class="menu-item-text">
							{{svg "octicon-git-pull-request"}}&nbsp;{{ctx.Locale.Tr "pull_requests"}}
						</span>
					</a>
				</li>
				{{end}}
				{{if and .ShowMilestonesDashboardPage (not (and .UnitIssuesGlobalDisabled .UnitPullsGlobalDisabled))}}
				<li>
					<a class="{{if .PageIsMilestonesDashboard}}active {{end}}item" href="{{.ContextUser.OrganisationLink}}/milestones{{if .Team}}/{{PathEscape .Team.Name}}{{end}}">
						<span class="menu-item-text">
							{{svg "octicon-milestone"}}&nbsp;{{ctx.Locale.Tr "milestones"}}
						</span>
					</a>
				</li>
				{{end}}
				<li>
					<a class="button secondary" href="{{.ContextUser.HomeLink}}" title="{{ctx.Locale.Tr "home.view_home" .ContextUser.Name}}">
						<span class="button-text">
							{{ctx.Locale.Tr "home.view_home" (.ContextUser.ShortName 40)}}
						</span>
					</a>
				</li>
			</ul>
		{{end}}
		</div>
	</div>
</div>
