<div
	id="dashboard-repo-list-data"

	data-is-mirrors-enabled="{{.MirrorsEnabled}}"
	data-is-stars-enabled="{{not .IsDisableStars}}"

	data-text-my-repos="{{ctx.Locale.Tr "home.my_repos"}}"
	data-text-search-repos="{{ctx.Locale.Tr "search.repo_kind"}}"
	data-text-filter="{{ctx.Locale.Tr "home.filter"}}"
	data-text-show-archived="{{ctx.Locale.Tr "home.show_archived"}}"
	data-text-show-private="{{ctx.Locale.Tr "home.show_private"}}"

	data-text-show-both-archived-unarchived="{{ctx.Locale.Tr "home.show_both_archived_unarchived"}}"
	data-text-show-only-unarchived="{{ctx.Locale.Tr "home.show_only_unarchived"}}"
	data-text-show-only-archived="{{ctx.Locale.Tr "home.show_only_archived"}}"

	data-text-show-both-private-public="{{ctx.Locale.Tr "home.show_both_private_public"}}"
	data-text-show-only-public="{{ctx.Locale.Tr "home.show_only_public"}}"
	data-text-show-only-private="{{ctx.Locale.Tr "home.show_only_private"}}"

	data-text-all="{{ctx.Locale.Tr "all"}}"
	data-text-sources="{{ctx.Locale.Tr "sources"}}"
	data-text-forks="{{ctx.Locale.Tr "forks"}}"
	data-text-mirrors="{{ctx.Locale.Tr "mirrors"}}"
	data-text-collaborative="{{ctx.Locale.Tr "collaborative"}}"

	data-text-first-page="{{ctx.Locale.Tr "admin.first_page"}}"
	data-text-previous-page="{{ctx.Locale.Tr "repo.issues.previous"}}"
	data-text-next-page="{{ctx.Locale.Tr "repo.issues.next"}}"
	data-text-last-page="{{ctx.Locale.Tr "admin.last_page"}}"

	data-text-my-orgs="{{ctx.Locale.Tr "home.my_orgs"}}"

	data-text-org-visibility-limited="{{ctx.Locale.Tr "org.settings.visibility.limited_shortname"}}"
	data-text-org-visibility-private="{{ctx.Locale.Tr "org.settings.visibility.private_shortname"}}"

	{{if .Team}}
	data-team-id="{{.Team.ID}}"
	{{end}}

	{{if not .ContextUser.IsOrganization}}
	data-organizations='[
		{{range $i, $org := .Orgs}}
			{{if $i}},{{end}}
			{
				"name": "{{$org.Name}}",
				"numRepos": {{$org.NumRepos}},
				"orgVisibility": "{{$org.Visibility}}"
			}
		{{end}}
	]'
	data-is-organization="false"
	data-organizations-total-count="{{.UserOrgsCount}}"
	data-can-create-organization="{{.SignedUser.CanCreateOrganization}}"
	{{else}}
	data-organization-id="{{.ContextUser.ID}}"
	{{end}}
></div>

<script type="module" src="{{AssetUrlPrefix}}/js/repolist.js"></script>

<div id="dashboard-repo-list" class="flex-container-sidebar"></div>
