{{template "base/head" .}}
{{if .ContextUser.IsOrganization}}
	<div class="page-content organization projects">
		{{template "org/header" .}}
		<main id="main" aria-label="{{.Title}}" class="ui container">
			{{template "projects/list" .}}
		</main>
	</div>
{{else}}
	<div class="page-content user profile">
		<main id="main" aria-label="{{.Title}}" class="ui container">
			<div class="ui stackable grid">
				<div class="ui four wide column">
					{{template "shared/user/profile_big_avatar" .}}
				</div>
				<div class="ui twelve wide column tw-mb-4">
					{{template "user/overview/header" .}}
					{{template "projects/list" .}}
				</div>
			</div>
		</main>
	</div>
{{end}}
{{template "base/footer" .}}
