{{template "base/head" .}}
<div class="page-content organization projects edit-project new">
	{{template "shared/user/org_profile_avatar" .}}
	<main id="main" aria-label="{{.Title}}" class="ui container">
		{{template "user/overview/header" .}}
		{{template "projects/new" .}}
	</main>
</div>
{{template "base/footer" .}}
