{{template "base/head" .}}
<div class="page-content repository new issue">
	{{template "repo/header" .}}
	<main id="main" aria-label="{{.Title}}" class="ui container">
		{{template "repo/issue/new_form" .}}
	</main>
</div>
{{template "base/footer" .}}
