<dialog closedby="any" id="sponsor-modal">
	<article>
		<header>
			<span role="heading" aria-level="1">{{ctx.Locale.Tr "funding.sponsor_header" .FundingTarget}}</span>
			<button type="button" commandfor="sponsor-modal" command="close" aria-label="Close" class="ui button mini compact basic close icon">{{svg "octicon-x" 24}}</button>
		</header>
		<div class="content">
			{{if .FundingHasErrors}}
			<div class="ui error message">
				{{ctx.Locale.Tr "funding.sponsor_parsing_errors" .FundingConfig}}
			</div>
			{{end}}
			<ul class="tw-list-none tw-p-0">
				{{range .Funding}}
				<li class="tw-flex tw-gap-2 tw-mb-4">
					{{if eq .ProviderName "custom"}}
						{{/* we render this svg directly, rather than relying on the configured img src, for better color theming */}}
						{{/* TODO: alt-text */}}
						{{svg "octicon-link" 24 "funding-logo"}}
					{{else if .Icon}}
						<img class="funding-logo {{.ProviderName}}" src="{{.Icon}}" alt="{{.ProviderName}}" width="24" height="24">
					{{else}}
						{{svg "octicon-heart" 24 "funding-logo"}}
					{{end}}
					<a rel="noopener" href="{{.URL}}">{{.Text}}</a>
				</li>
				{{end}}
			</ul>
		</div>
	</article>
</dialog>
