<button type="button" class="ui sponsor compact small basic button" aria-label="{{ctx.Locale.Tr "funding.sponsor_header" .FundingTarget}}" command="show-modal" commandfor="sponsor-modal">
	{{svg "octicon-heart" 16 "icon-sponsor"}}<span class="text not-mobile">{{ctx.Locale.Tr "funding.sponsor_button"}}</span>
</button>
