<button class="ui compact small basic show-modal button tw-gap-2" data-test="sponsor-button" data-modal="#sponsor-modal">
	{{svg "octicon-heart" 16}}<span class="text not-mobile">{{ctx.Locale.Tr "funding.sponsor_button"}}</span>
</button>
