{{template "base/head" .}}
<div class="page-content explore users">
	{{template "explore/navbar" .}}
	<main id="main" aria-label="{{.Title}}" class="ui container">
		{{template "shared/search/code/search" .}}
	</main>
</div>
{{template "base/footer" .}}
