{{template "base/head" .}}
<div class="page-content explore repositories">
	{{template "explore/navbar" .}}
	<main id="main" aria-label="{{.Title}}" class="ui container">
		{{template "shared/repo_search" .}}
		{{template "explore/repo_list" .}}
		{{template "base/paginate" .}}
	</main>
</div>
{{template "base/footer" .}}
