<div class="flex-list">
	{{range .Snippets}}
		<div class="flex-item">
			<div class="flex-item-leading">
				{{template "snippet/icon" .}}
			</div>
			<div class="flex-item-main">
				<div class="flex-item-header">
					<div class="flex-item-title">
						{{if not $.PageIsProfileSnippetList}}
							<a class="text primary name" href="{{.Owner.HomeLink}}">{{.Owner.Name}}</a>/
						{{end}}
						<a class="text primary name" href="{{.Link}}">{{.Name}}</a>
					</div>

					{{if and .Language .LanguageColor}}
						<div class="flex-item-trailing muted-links">
							<a class="flex-text-inline" href="?language={{.Language}}{{if $.PageIsProfileSnippetList}}&tab=snippets{{end}}{{if $.Keyword}}&q={{$.Keyword}}{{end}}{{if $.SortType}}&sort={{$.SortType}}{{end}}">
								<i class="color-icon tw-mr-2" style="background-color: {{.LanguageColor}}"></i>
								{{.Language}}
							</a>
						</div>
					{{end}}
				</div>

				<div class="flex-item-body">{{ctx.Locale.Tr "org.repo_updated" (DateUtils.TimeSince .UpdatedUnix)}}</div>
			</div>
		</div>
	{{end}}
</div>
