{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content explore snippets">
	{{template "explore/navbar" .}}
	<div class="ui container">
		{{template "explore/snippet_search" .}}
		{{template "explore/snippet_list" .}}
		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
