{{template "base/head" .}}
<div class="page-content explore users">
	{{template "explore/navbar" .}}
	<main id="main" aria-label="{{.Title}}" class="ui container">
		{{template "explore/search" .}}
		{{template "explore/user_list" .}}
		{{template "base/paginate" .}}
	</main>
</div>
{{template "base/footer" .}}
